
  <div class="container">
    <div class="row">
      <a (click)="NavigateToAdd()"class="btn btn-primary mb-3">اضافة مورد</a>
      <table class="table table-dark table-striped">
      <thead>
          <tr>
            <th >الاسم:</th>
            <th>الموبايل:</th>
            <th>العنوان:</th>
            <th>الفلوس</th>
            <th>النوع</th>
            <th ></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active"*ngFor="let sup of supplierList">
            <td>{{sup.Name}}</td>
            <td>{{sup.Phone}}</td>
            <td>{{sup.Address}}</td>
            <td>{{sup.DebitBlance}}</td>
            <td>{{sup.TypeId}}</td>
           <td><a class="btn btn-success" (click)="NavigateToEdit(sup.id)">تعديل</a></td> 
            <td><a class="btn btn-danger" (click)="NavigateToDelete(sup.id)">حذف</a></td>
          </tr>
        </tbody>
   </table>
    </div>
</div>


