
  <div class="container">
      <div class="row">
        <a (click)="NavigateToAdd()"class="btn btn-primary mb-3">اضافة صنف</a>
        <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th >اسم الصنف :</th>
              <th >الوصف:</th>
              <th ></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-active"*ngFor="let cat of cateoryList">
              <td>{{cat.name}}</td>
              <td>{{cat.description}}</td>
             <td><a class="btn btn-success" (click)="NavigateToEdit(cat.id)">تعديل</a></td> 
              <td><a class="btn btn-danger" (click)="NavigateToDelete(cat.id)">حذف</a></td>
            </tr>
          </tbody>
     </table>
      </div>
  </div>
  
 