
<div class="container-fluid ">
    <!-- {{registrationForm.value|json}} -->

    <div class="row mx-auto">
        <h2 class="text-primary">Edit Tax</h2>
        <hr>
        <form [formGroup]='registrationForm'>
            <div class="form-group mb-3">
                <label class="mb-2">Name</label>
                <input type="text" formControlName="Name" [class.is-invalid]="Name?.invalid&&Name?.touched"
                    class="form-control ">
                <div *ngIf="Name?.invalid&&Name?.touched">
                    <small class="text-danger " *ngIf="Name?.errors?.['required']">Name is required</small>                </div>
            </div>
            <div class="form-group mb-3">
                <label class="mb-2">Percentage</label>
                <input type="text" formControlName="Percentage" class=" form-control"
                    [class.is-invalid]="Percentage?.invalid&&Percentage?.touched" />
                <div *ngIf="Percentage?.invalid&&Percentage?.touched">
                    <small class="text-danger " *ngIf="Percentage?.errors?.['required']">Percentage is required</small>
                    <small class="text-danger" *ngIf="Percentage?.errors?.['pattern']">Accept only digit Number</small>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="mb-2">Description</label>
                <input type="text" formControlName="Description" [class.is-invalid]="Description?.invalid&&Description?.touched"
                    class="form-control ">
                <div *ngIf="Description?.invalid&&Description?.touched">
                    <small class="text-danger " *ngIf="Description?.errors?.['required']">Description is required</small>                </div>
            </div>
            
        </form>
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-primary" [disabled]="Name?.invalid||Percentage?.invalid||Description?.invalid" (click)="editData()">Save</button>
        </div>
    </div>
</div>
