<div class="container-fluid ">
    <!-- {{registrationForm.value|json}} -->

    <div class="row mx-auto">
        <h1 class="text-primary">Edit Employee</h1>
        <hr>
        <form [formGroup]='registrationForm'>
            <div class="form-group mb-3">
                <label class="mb-2">Name</label>
                <input type="text" formControlName="Name" [class.is-invalid]="Name?.invalid&&Name?.touched"
                    class="form-control ">
                <div *ngIf="Name?.invalid&&Name?.touched">
                    <small class="text-danger " *ngIf="Name?.errors?.['pattern']"> Not accept Number</small>
                    <small class="text-danger " *ngIf="Name?.errors?.['required']">Is required </small>
                    <small class="text-danger" *ngIf="Name?.errors?.['minlength']"> Minimum length 5</small>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="mb-2">Address</label>
                <input type="text" formControlName="Address" [class.is-invalid]="Address?.invalid&&Address?.touched"
                    class="form-control ">
                <div *ngIf="Address?.invalid&&Address?.touched">
                    <small class="text-danger " *ngIf="Address?.errors?.['required']"> Is required</small>
                    <small class="text-danger" *ngIf="Address?.errors?.['minlength']">Minimum length 5</small>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="mb-2">National ID</label>
                <input type="text" formControlName="NationalId" class=" form-control"
                    [class.is-invalid]="NationalId?.invalid&&NationalId?.touched" />
                <div *ngIf="NationalId?.invalid&&NationalId?.touched">
                    <small class="text-danger " *ngIf="NationalId?.errors?.['required']">Is required</small>
                    <small class="text-danger" *ngIf="NationalId?.errors?.['pattern']">Accept only digit Number</small>
                    <small class="text-danger" *ngIf="Address?.errors?.['minlength']">Length equal 14</small>
                    <small class="text-danger" *ngIf="Address?.errors?.['maxlength']">Length equal 14</small>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="mb-2">Phone</label>
                <input type="text" formControlName="Phone" class=" form-control"
                    [class.is-invalid]="Phone?.invalid&&Phone?.touched" />
                <div *ngIf="Phone?.invalid&&Phone?.touched">
                    <small class="text-danger " *ngIf="Phone?.errors?.['required']">Is required</small>
                    <small class="text-danger" *ngIf="Phone?.errors?.['pattern']">Accept only digit Number</small>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="mb-2">Salary</label>
                <input type="text" formControlName="Salary" class=" form-control"
                    [class.is-invalid]="Salary?.invalid&&Salary?.touched" />
                <div *ngIf="Salary?.invalid&&Salary?.touched">
                    <small class="text-danger " *ngIf="Salary?.errors?.['required']">IS required</small>
                    <small class="text-danger" *ngIf="Salary?.errors?.['pattern']">Accept only digit Number</small>
                </div>
            </div>
            <div class="container" ng-app="invoice">
                <section class="row" ng-controller="InvoiceController">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-center">
                                <th>Stock</th>
                                <th>Job</th>
                                <th>Have Access</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr class="text-center">
                                <td>
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="StockId"
                                        [class.is-invalid]="StockId?.invalid&&StockId?.touched">
                                        <option value={{item.id}} *ngFor="let item of stockList">{{item.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="StockId?.invalid&&StockId?.touched">
                                        <small class="text-danger " *ngIf="StockId?.errors?.['required']">
                                            Is required</small>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="JobId" [class.is-invalid]="JobId?.invalid&&JobId?.touched">
                                        <option value={{item.id}} *ngFor="let item of jobList">
                                            {{item.jobTitle}}</option>
                                    </select>
                                    <div *ngIf="JobId?.invalid&&JobId?.touched">
                                        <small class="text-danger " *ngIf="JobId?.errors?.['required']">
                                            Is
                                            required</small>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                            formControlName="HaveAccess" value="option1">
                                    </div>

                                </td>

                            </tr>

                        </tbody>
                    </table>
                </section>
            </div>
        </form>
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-primary"
                [disabled]="Name?.invalid||NationalId?.invalid||Address?.invalid||Phone?.invalid||Salary?.invalid||StockId?.invalid||JobId?.invalid"
                (click)="SaveData()">Save</button>
        </div>
    </div>
</div>
<hr>