<div class="container ">
    <div class="row">
        <form [formGroup]="paymentMethod" >
            <div class="form-group ">
              <label for="exampleInputEmail1">اسم الصنف:</label>
              <input type="text" class="form-control"formControlName="Name"[class.is-invalid]="paymentMethod.get('Name')?.invalid && paymentMethod.get('Name')?.touched" >
              <small class="alert alert-danger"*ngIf="paymentMethod.get('Name')?.invalid && paymentMethod.get('Name')?.touched">*مطلوب</small>
            </div>
            <div class="form-group ">
                <label for="exampleInputEmail1"> المبلغ:</label>
                <input type="number" class="form-control"formControlName="Balance"[class.is-invalid]="paymentMethod.get('Balance')?.invalid && paymentMethod.get('Balance')?.touched" >
                <small class="alert alert-danger"*ngIf="paymentMethod.get('Balance')?.invalid && paymentMethod.get('Balance')?.touched">*مطلوب</small>
              </div>
              <div class="form-group ">
                <label for="exampleInputEmail1">النوع :</label>
                <input type="text" class="form-control"formControlName="Type"[class.is-invalid]="paymentMethod.get('Type')?.invalid && paymentMethod.get('Type')?.touched" >
                <small class="alert alert-danger"*ngIf="paymentMethod.get('Type')?.invalid && paymentMethod.get('Type')?.touched">*مطلوب</small>
              </div>
           
            
            <button type="submit" class="btn btn-success mt-3">تعديل</button>
          </form>
   
    </div>

</div>



