
  <div class="container">
    <div class="row">
      <a (click)="NavigateToAdd()"class="btn btn-primary mb-3">اضافة طريقة دفع</a>
      <table class="table table-dark table-striped">
      <thead>
          <tr>
            <th >الاسم:</th>
            <th >المبلغ:</th>
            <th >النوع:</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active"*ngFor="let pay of paymentMethod">
            <td>{{pay.Name}}</td>
            <td>{{pay.Balance}}</td>
            <td>{{pay.Type}}</td>
           <td><a class="btn btn-success" (click)="NavigateToEdit(pay.ID)">تعديل</a></td> 
            <td><a class="btn btn-danger" (click)="NavigateToDelete(pay.ID)">حذف</a></td>
          </tr>
        </tbody>
   </table>
    </div>
</div>


