<!-- <div class="container-fluid pt-4">
    <div class="d-flex justify-content-end">
            <a routerLink="/home/stock/add" (click)="navigateToAddTax()" class="btn btn-primary">add Tax</a>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
              <tr>
                <th class="lg-2 col-md-2 col-sm-2" scope="col">Name</th>
                <th class="lg-2 col-md-2 col-sm-2" scope="col">Percentage</th>
                <th class="lg-3 col-md-3 col-sm-3" scope="col">Description</th>
                
              </tr>
            </thead>
            <tbody>
              <tr class="table-active" *ngFor="let item of taxList ">
               
                <td class="lg-2 col-md-2 col-sm-2">{{item.name}}</td>
                <td class="lg-2 col-md-2 col-sm-2">{{item.percentage}}</td>
                <td class="lg-3 col-md-3 col-sm-3" >{{item.description}}</td>
                <td class="lg-2 col-md-2 col-sm-2"><a class="btn btn-success"  (click)="NavigationToEditTax(item.id)">edit</a></td>
                <td class="lg-3 col-md-3 col-sm-3"><a class="btn  btn-danger" (click)="deleteTax(item.id)">delete</a></td>
                <td></td>
              </tr>
              <tr>
             
            </tbody>
          </table>
    </div>
</div> -->
<div class="container-fluid pt-4">
  <div class="d-flex justify-content-end mb-4">
    <button class="btn btn-success rounded" (click)="navigateToAddTax()"><mat-icon>add</mat-icon></button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef=" let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="percentage">
      <th mat-header-cell *matHeaderCellDef>Percentage</th>
      <td mat-cell *matCellDef="let element">{{element.percentage}}%</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>

    <ng-container  matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions </th>
      <td mat-cell  *matCellDef="let element">
        <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary"
        (click)="NavigationToEditTax(element.id)">
        <mat-icon aria-label="Edit" >edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn"
        (click)="deleteTax(element.id)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>





