<div class="container-fluid pt-4">
    <div class="d-flex justify-content-end">
            <a routerLink="/home/stock/add" (click)="navigateToAddTax()" class="btn btn-primary">add Tax</a>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
              <tr>
                <th class="lg-2 col-md-2 col-sm-2" scope="col">Name</th>
                <th class="lg-2 col-md-2 col-sm-2" scope="col">Percentage</th>
                <th class="lg-3 col-md-3 col-sm-3" scope="col">Description</th>
                
              </tr>
            </thead>
            <tbody>
              <tr class="table-active" *ngFor="let item of taxList ">
               
                <td class="lg-2 col-md-2 col-sm-2">{{item.name}}</td>
                <td class="lg-2 col-md-2 col-sm-2">{{item.percentage}}</td>
                <td class="lg-3 col-md-3 col-sm-3" >{{item.description}}</td>
                <td class="lg-2 col-md-2 col-sm-2"><a class="btn btn-success"  (click)="NavigationToEditTax(item.id)">edit</a></td>
                <td class="lg-3 col-md-3 col-sm-3"><a class="btn  btn-danger" (click)="deleteTax(item.id)">delete</a></td>
                <td></td>
              </tr>
              <tr>
             
            </tbody>
          </table>
    </div>
</div>
<router-outlet></router-outlet>





