<app-header-sales-bill  [parentData]="header"></app-header-sales-bill>
<form [formGroup]='InvoiceForm'>
    <div class="container" ng-app="invoice">
        <section class="row" ng-controller="InvoiceController">
            <table class="table table-hover mx-auto" style="width:30%">
                <thead>
                    <tr class="text-center ">
                        <th>Sale Bill Code </th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="text-center ">
                        <td><input type="number" formControlName="BillCode" min="0"
                                [class.is-invalid]="BillCode?.invalid&&BillCode?.touched" class="form-control" />
                            <div *ngIf="BillCode?.invalid&&BillCode?.touched">
                                <small class="text-danger " *ngIf="BillCode?.errors?.['required']">Is required</small>
                            </div>
                        </td>

                    </tr>
                    <tr class="text-center">
                        <td>
                            <button [disabled]="BillCode?.invalid" (click)="ShowInvoice()"
                                mat-stroked-button>Search</button>
                        </td>
                    </tr>

                </tbody>


            </table>
        </section>
    </div>

</form>
<div *ngIf="show;then showTemplete">

</div>
<ng-template #showTemplete>

    <div class="container" ng-app="invoice">
        <section class="row" ng-controller="InvoiceController">
            <table class="table table-hover mx-auto">
                <thead>
                    <tr class="text-center">
                        <th>Customer</th>
                        <th>Stocks</th>
                        <th>Date</th>
                        <th>BillCode</th>
                    </tr>
                </thead>

                <tbody>

                    <tr ng-repeat="item in invoice.items" class="text-center">
                        <td>
                            <input type="button" value={{customer}} class="form-control" />

                        </td>
                        <td>
                            <input type="button" value={{stock}} class="form-control" />

                        </td>

                        <td>
                            <input type="button" value={{dateToDay|date}} class="form-control" />

                        </td>
                        <td>
                            <input type="button" value={{billCode}} class="form-control" />

                        </td>

                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div *ngIf="tooglePurchaseProductForm;then thenTable ">

    </div>
    <ng-template #thenTable>
        <div class="container mt-3 mb-4">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef>product Name</th>
                    <td mat-cell *matCellDef="let element;let i=index">{{productNamesList[i].name}}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>amount</th>
                    <td mat-cell *matCellDef=" let element">{{element.amountToSell}}</td>
                </ng-container>
                <ng-container matColumnDef="discount">
                    <th mat-header-cell *matHeaderCellDef>discount</th>
                    <td mat-cell *matCellDef="let element">{{element.discount+'%'}}</td>
                </ng-container>
                <ng-container matColumnDef="totalPrice">
                    <th mat-header-cell *matHeaderCellDef>totalPrice</th>
                    <td mat-cell *matCellDef="let element">{{element.totalPrice}}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                        <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn"
                            (click)="deletePurchaseProduct(i,element.id)">
                            <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </ng-template>

    <div class="container" ng-app="invoice">
        <section class="row" ng-controller="InvoiceController">
            <table class="table table-hover mx-auto">
                <thead>
                    <tr class="text-center mt-4">
                        <th>Total Price P</th>
                        <th>Discount</th>
                        <th>Tax Value</th>
                        <th>Total ATD </th>
                    </tr>
                </thead>

                <tbody>

                    <tr ng-repeat="item in invoice.items" class="text-center">
                        <td>
                            <input type="button" value={{calacTotalOfPro}} class="form-control" />

                        </td>
                        <td>
                            <input type="button" value={{discount}} class="form-control" />

                        </td>
                        <td>
                            <input type="button" value={{taxValue}} class="form-control" />

                        </td>
                        <td>
                            <input type="button" value={{TotalBillADT}} class="form-control" />

                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr class="text-center mx-auto">

                        <th>Bill Type</th>
                        <th>Paid Up</th>
                        <th>Remaining</th>
                    </tr>
                </thead>

                <tbody>

                    <tr ng-repeat="item in invoice.items" class="text-center">

                        <td>
                            <input type="button" value={{billType}} class="form-control" />

                        </td>


                        <td>
                            <input type="button" value={{paidUp}} class="form-control" />

                        </td>
                        <td>
                            <input type="button" value={{remaining}} class="form-control" />

                        </td>



                    </tr>
                </tbody>

            </table>
        </section>
    </div>
    <form [formGroup]='registerReturnBill'>
        <div class="container" ng-app="invoice">
            <section class="row" ng-controller="InvoiceController">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>Total Return</th>
                            <th>Tax</th>
                            <th>Net Money</th>
                            <th>Payment Method</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="item in invoice.items" class="text-center">
                            <td>
                                <input type="button" value={{countTotalPriceReturnProd}} class="form-control" />

                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example" formControlName="TaxId"
                                    [class.is-invalid]="TaxId?.invalid&&TaxId?.touched" (change)="taxChanged()">

                                    <option value={{item.id}} *ngFor="let item of taxesList">{{item.name}}</option>
                                </select>
                                <div *ngIf="TaxId?.invalid&&TaxId?.touched">
                                    <small class="text-danger " *ngIf="TaxId?.errors?.['required']">Is
                                        required</small>
                                </div>
                            </td>
                            <td>
                                <input type="button" formControlName="NetMoney" class="form-control" />

                            </td>
                            <td><select class="form-select" aria-label="Default select example"
                                    formControlName="PaymentMethodId"
                                    [class.is-invalid]="PaymentMethodId?.invalid&&PaymentMethodId?.touched">

                                    <option value={{item.id}} *ngFor="let item of paymentList">{{item.name}}</option>
                                </select>
                                <div *ngIf="PaymentMethodId?.invalid&&PaymentMethodId?.touched">
                                    <small class="text-danger " *ngIf="PaymentMethodId?.errors?.['required']">
                                        Is
                                        required</small>
                                </div>
                            </td>


                    </tbody>
                </table>
            </section>
        </div>
    </form>
    <hr>
    <div class="text-center">
        <button class="btn btn-success mb-4 " (click)="addReturnSaleBill()"
            [disabled]="PaymentMethodId?.invalid||TaxId?.invalid||!isDeleted">Save Return Bill</button>
    </div>
    <hr>
</ng-template>