<div class="container ">
    <div class="row">
        <form [formGroup]="editCategory" style="margin-top: 100px;margin-right: 200px;">
              <div class="form-group col-lg-4 col-md-4 col-sm-4">
                <label for="exampleInputEmail1">اسم الصنف:</label>
                <input type="text" class="form-control"formControlName="name"[class.is-invalid]="editCategory.get('name')?.invalid && editCategory.get('name')?.touched" >
                <small class="text-danger"*ngIf="editCategory.get('name')?.invalid && editCategory.get('name')?.touched">*مطلوب</small>
              </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4 ">
                <label class="form-label ">الوصف:</label>
                <textarea  class="form-control " rows="3"formControlName="describtion"[class.is-invalid]="editCategory.get('describtion')?.invalid && editCategory.get('describtion')?.touched"></textarea>
                <small class="text-danger"*ngIf="editCategory.get('describtion')?.invalid && editCategory.get('describtion')?.touched">*مطلوب</small>
              </div>

            <button type="submit" class="btn btn-warning m-t-4 col-lg-4 col-md-4 col-sm-4">تعديل</button>
          </form>
   
    </div>

</div>


