
  <div class="container">
    <div class="row">
      <a class="btn btn-primary mb-3"(click)="NavigateToAdd()">اضافة صنف</a>
      <table class="table table-dark table-striped">
      <thead>
          <tr>
            <th >المنتج:</th>
            <th >الكمية:</th>
            <th >التاريخ:</th>
            <th >ملاحظات  :</th>
            
            <th ></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active"*ngFor="let prod of expiredProduct">
            <td>{{prod.Product}}</td>
            <td>{{prod.Amount}}</td>
            <td>{{prod.DateAdded}}</td>
            <td>{{prod.Notes}}</td>
           <td><a class="btn btn-success" (click)="NavigateToEdit(prod.ID)">تعديل</a></td> 
            <td><a class="btn btn-danger" (click)="NavigateToDelete(prod.ID)">حذف</a></td>
          </tr>
        </tbody>
   </table>
    </div>
</div>

