<div class="container-fluid ">
    <!-- {{registrationForm.value|json}} -->

    <div class="row  mx-auto">
        <h1 class="text-primary">Edit Product</h1>
        <hr>
        <form [formGroup]='registrationForm'>
            <div class="form-group mb-3">
                <label class="mb-2">Name</label>
                <input type="text" formControlName="Name" [class.is-invalid]="Name?.invalid&&Name?.touched"
                    class="form-control ">
                <div *ngIf="Name?.invalid&&Name?.touched">
                    <small class="text-danger " *ngIf="Name?.errors?.['required']">Is required</small>
                    <small class="text-danger" *ngIf="Name?.errors?.['minlength']">Minimum Length Equal 5</small>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="mb-2">MiniAmount</label>
                <input type="text" formControlName="MiniAmount" class=" form-control"
                    [class.is-invalid]="MiniAmount?.invalid&&MiniAmount?.touched" />
                <div *ngIf="MiniAmount?.invalid&&MiniAmount?.touched">
                    <small class="text-danger " *ngIf="MiniAmount?.errors?.['required']">is required</small>
                    <small class="text-danger" *ngIf="MiniAmount?.errors?.['pattern']">Accept only digit Number</small>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="mb-2">PurchasingPrice</label>
                <input type="text" formControlName="PurchasingPrice" class=" form-control"
                    [class.is-invalid]="PurchasingPrice?.invalid&&PurchasingPrice?.touched" />
                <div *ngIf="PurchasingPrice?.invalid&&PurchasingPrice?.touched">
                    <small class="text-danger " *ngIf="PurchasingPrice?.errors?.['required']">Is required</small>
                    <small class="text-danger" *ngIf="PurchasingPrice?.errors?.['pattern']">Accept only digit Number</small>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="mb-2">SellingPrice</label>
                <input type="text" formControlName="SellingPrice" class=" form-control"
                    [class.is-invalid]="SellingPrice?.invalid&&SellingPrice?.touched" />
                <div *ngIf="SellingPrice?.invalid&&SellingPrice?.touched">
                    <small class="text-danger " *ngIf="SellingPrice?.errors?.['required']">Is required</small>
                    <small class="text-danger" *ngIf="SellingPrice?.errors?.['pattern']">Accept only digit Number</small>
                </div>
            </div>
            
            <div class="form-group mb-3">
                <label class="mb-2">ExpiryPeriod</label>
                <input type="text" formControlName="ExpiryPeriod" class=" form-control"
                    [class.is-invalid]="ExpiryPeriod?.invalid&&ExpiryPeriod?.touched" />
                <div *ngIf="ExpiryPeriod?.invalid&&ExpiryPeriod?.touched">
                    <small class="text-danger " *ngIf="ExpiryPeriod?.errors?.['required']">Is required</small>
                    <small class="text-danger" *ngIf="ExpiryPeriod?.errors?.['pattern']">Accept only digit Number</small>
                </div>
            </div>
            <div>
                <label class="mb-2">Barcode</label>
                <input type="text" formControlName="Barcode" class="mb-3 form-control ">
            </div>
            <div>
                <label class="mb-2">Description</label>
                <input type="text" formControlName="Description" class="mb-3 form-control ">
            </div>
            <div class="container" ng-app="invoice">
                <section class="row" ng-controller="InvoiceController">
                    <table class="table table-hover mx-auto" style="width:50%" >
                        <thead>

                            <tr class="text-center ">
                                <th></th>
                                <th>Category </th>
                                <th></th>
                            </tr>
                        </thead>
            
                        <tbody>
                            <tr class="text-center mb-3 ">
                                <td></td>
                                <td>
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="CatId" 
                                        [class.is-invalid]="CatId?.invalid&&CatId?.touched">
                                        <option value={{item.id}} *ngFor="let item of categoryList">{{item.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="CatId?.invalid&&CatId?.touched">
                                        <small class="text-danger " *ngIf="CatId?.errors?.['required']">
                                            Is required</small>
                                    </div>
                                </td>
                                <td></td>
                           
                            </tr>
                            <tr class="text-center">
        
                    </table>
                </section>
            </div>
        </form>
        <div class="col-12 d-flex justify-content-center mt-3">
            <button class="btn btn-primary" [disabled]="Name?.invalid||CatId?.invalid||SellingPrice?.invalid||PurchasingPrice?.invalid
            ||MiniAmount?.invalid|| ExpiryPeriod?.invalid"
            (click)="SaveData()">Save</button>
        </div>
    </div>
</div>
<hr>
