<div class="container">
    <div class="row">
        <form [formGroup]="addjob1"(ngSubmit)="submitForm()">
            <div class="form-group ">
                <label>اسم المهنه:</label>
                <input type="text" class="form-control col-lg-6"formControlName="jobTitle" [class.is-invalid]="addjob1.get('jobTitle')?.invalid && addjob1.get('jobTitle')?.touched">
                <small class="alert alert-danger"*ngIf="addjob1.get('jobTitle')?.invalid && addjob1.get('jobTitle')?.touched">*مطلوب</small>
            </div>
            <div class="form-group  ">
                <label class="form-label ">الوصف:</label>
                <textarea class="form-control col-lg-6" rows="3"formControlName="jobDescription"[class.is-invalid]="addjob1.get('jobDescription')?.invalid && addjob1.get('jobDescription')?.touched"></textarea>
                <small class="alert alert-danger"*ngIf="addjob1.get('jobDescription')?.invalid && addjob1.get('jobDescription')?.touched">*مطلوب</small>
              </div>
              <input type="submit" value="حفظ"class="btn btn-primary mt-3">
            </form>
    </div>
</div>


