
  <div class="container">
    <div class="row">
      <a class="btn btn-primary mb-3"(click)="NavigateToAdd()">اضافة مخزن منتجات</a>
      <table class="table table-dark table-striped">
      <thead>
          <tr>
            <th >المنتج:</th>
            <th >المخزن: </th>
            <th >الكمية:</th>
            <th >التاريخ:</th>
            
            
            <th ></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active"*ngFor="let sProd of stockProductList">
            <td>{{sProd.ProductId}}</td>
            <td>{{sProd.StockId}}</td>
            <td>{{sProd.Amount}}</td>
            <td>{{sProd.ProductionDate}}</td>
           <td><a class="btn btn-success" (click)="NavigateToEdit(sProd.ID)">تعديل</a></td> 
            <td><a class="btn btn-danger" (click)="NavigateToDelete(sProd.ID)">حذف</a></td>
          </tr>
        </tbody>
   </table>
    </div>
</div>


